package components

import (
  fns "todoer/fns"
)

templ Todos(todos []fns.Todo) {
  for _, todo := range todos {
    <div>
      {todo.Text}
      if todo.Completed {
        Completed
      } else {
        In Progress
      }
    </div>
  }
}
